/* color palette */
:root {
  --greyish-deepest: #161618;
  --greyish-deep: #1E1E20;
  --greyish-dark: #1B1B1F;
  --greyish-mild: #202127;
  --greyish-soft: #39485C;

  --green-mild: #2B7552;
  --green-soft: #41B883;
  --green-vibrant: #3DD68C;

  --grey-mild: #959595;
  --grey-soft: #96969D;
  --grey-vibrant: #DEDED5;
}

/* semantic color variables for this project */
:root {
  --color-font-1: var(--grey-soft);
  --color-font-2: var(--grey-vibrant);
  --color-font-3: var(--grey-mild);
}

.header-text {
    font-size: medium;
}

.content{
  padding: 1rem;
}