/* ============================================================ ..
    Base definitions
.. ============================================================ */

/* color palette */
:root {
  --greyish-deepest: #161618;
  --greyish-deep: #1E1E20;
  --greyish-dark: #1B1B1F;
  --greyish-mild: #202127;
  --greyish-soft: #39485C;
  --greyish-light: #607A9B;

  --grey-dark: #32363F;
  --grey-mild: #696969;
  --grey-soft: #96969D;
  --grey-light: #BABAB2;
  --grey-vibrant: #DEDED5;

  --green-deep: #0E261A;
  --green-dark: #1B4933;
  --green-mild: #2B7552;
  --green-soft: #41B883;
  --green-vibrant: #3DD68C;

  --purple-deeper: #252838;
  --purple-deep: #464B68;
  --purple-dark: #666C9B;
  --purple-mild: #A8B1FF;
  --purple-soft: #6D7EFF;
  --purple-vibrant: #3048FF;

  --scarlet-deep: #230D14;
  --scarlet-dark: #471A28;
  --scarlet-mild: #68263B;
  --scarlet-soft: #963757;
  --scarlet-vibrant: #BC456F;

  --orange-dark: #705B30;
  --orange-mild: #967C40;
  --orange-soft: #CEAB58;
  --orange-vibrant: #FFD56D;
}

/* semantic color variables for this project */
:root {
  --color-font-1: var(--grey-vibrant);
  --color-font-2: var(--grey-soft);
  --color-font-3: var(--grey-mild);
}