/* ============================================================ ..
    Common styling, imported by most vues
.. ============================================================ */

@import "./base.css";

.header-title {
  margin: 1rem;
  font-size: x-large;
  color: var(--purple-dark);
  font-family: "Segoe UI";
  font-weight: 700;
}

.header {
  margin: 1rem;
  font-size: large;
  color: var(--color-font-2);
  font-family: "Segoe UI";
  font-weight: 500;
}

.content{
  padding: 1rem;
}

.bold {
  font-weight: 700;
}

.link {
  font-weight: 700;
  color: var(--grey-soft);
}

.link:hover {
  font-weight: 700;
  color: var(--green-soft);
}

.button {
  background-color: var(--green-mild);
  color: var(--grey-vibrant); 
  border: none;
  padding: 0.3rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: var(--green-dark);
  color: var(--grey-mild);
}

a:link, a:visited {
  text-decoration: none;
  color: var(--purple-mild)
}

a:hover, a:active {
  text-decoration: underline;
}
